:root {
    --body-bg: #e6e6e6;
    --container-bg: #908f8a;
    --operation-bg: #545a73;
    --screen-bg: #778899;
    --button-bg: #343a43;
    --button-txt: #908f8a;
    --screen-txt: #000;
    --mode-bg: black;

}

*{
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--body-bg);
}

body.dark-mode {
    --body-bg: #151515;
    --container-bg: #2a2a2a;
    --screen-bg: #2b2f36;
    --button-bg: #3b3f46;
    --oparation-bg: #5a5f7a;
    --button-txt: #d4d4d4;
    --screen-txt: #d4d4d4;
    --mode-bg: grey;
}

.container {
    margin-top: auto;
    padding: 5px;
    height: 600px;
    width: 370px;
    border: 1px solid;
    border-radius: 2% ;
    background-color: var(--container-bg);
    text-align: center;
}

#prev {
    height: 20px;
    font-size: 20px;
    opacity: 50%;
    display: inline-block;
}

#operation {
    display: inline-block;
}

#output {
    font-size: 55px;
}

#sign {
    position: absolute;
    left: 5px;
    bottom: -5px;
    font-size: 55px;
}

.screen {
    height: 80px;
    margin: 10px;
    padding-right: 10px;
    border: 1px solid none;
    border-radius: 2%;
    overflow: hidden;
    text-align: right;
    background-color:var(--screen-bg);
    color: var(--screen-txt);
    position: relative;
}

.button-wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.button {
    width: 80px;
    height: 70px;
    border-radius: 7%;
    margin: 2px;
    background-color: var(--button-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--button-txt);
    font-size: 30px;
    text-decoration: none; 
}
.button:hover {
    opacity: 70%;
}

.operation {
    background-color: var(--operation-bg);
}

.mode {
    width: 120px;
    height: 54px;
    border: 2px solid var(--mode-bg);
    border-radius: 100px;
    position: relative;

    background-color: var(--body-bg);
}

.knob {
    width: 50px;
    height: 87%;
    border-radius: 100px;
    border: 1px solid var(--mode-bg);
    position: absolute;
    top: 2px;
    left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    font-size: 30px;

    background-color: var(--screen-bg);

}
.knob:hover {
    cursor: pointer;
}
.knob.right {
    transform: translateX(63px);
}
.knob > * {
    font-size: 50px;
}